{% extends 'ReSymfCmsBundle::index.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/resymfcms/css/bootstrap/default.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/resymfcms/css/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}


    <div class="col-lg-4 col-md-4 col-sm-6 form_container">
        <div class="well">

            <form action="{{ path("login_check") }}" method="post" class="bs-example form-horizontal">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <fieldset>
                    <div class="form-group">

                        <div class="col-lg-11">
                            <legend>{{ 'security.login.message'|trans }}</legend>
                            <p>{{ 'security.login.info'|trans }}</p>
                            {% if error %}
                                <p style="color:red;">{{ error.message|trans }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail"
                               class="col-lg-3 control-label">{{ 'security.login.username'|trans }}</label>

                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="username" name="_username"
                                   placeholder="{{ 'security.login.username'|trans }}"
                                   value="{{ last_username }}" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail"
                               class="col-lg-3 control-label">{{ 'security.login.password'|trans }}</label>

                        <div class="col-lg-8">
                            <input type="password" class="form-control" id="password" name="_password"
                                   placeholder="{{ 'security.login.password'|trans }}"
                                   required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="remember_me" name="_remember_me"
                                           value="on"/> {{ 'security.login.remember_me'|trans }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-11 col-md-12 col-sm-12">

                            <input class="btn btn-primary" type="submit" id="_submit" name="_submit"
                                   value="{{ 'security.login.submit'|trans }}"/>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
{% endblock body %}
