{% if fields %}
    {% for field in fields %}

        {% if edit_object is defined and attribute(edit_object,field.name) is defined %}
            {% set value = attribute(edit_object,field.name) %}
        {% else %}
            {% set value = '' %}
        {% endif %}

        {% if field.type=='text' %}
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">
                    {% if field.fieldLabel %}
                        {{ field.fieldLabel }}
                    {% else %}
                        {{ field.name }}
                    {% endif %}
                    :</label>

                <div class="col-lg-9">
                    <input type="text" class="form-control" name="{{ field.name }}"
                           value="{{ value }}"/>
                </div>
            </div>
        {% endif %}
        {% if field.type=='editor' %}
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">
                    {% if field.fieldLabel %}
                        {{ field.fieldLabel }}
                    {% else %}
                        {{ field.name }}
                    {% endif %}
                    :</label>

                <div class="col-lg-9">
                    <textarea class="form-control" name="{{ field.name }}"
                              value=""> {{ value }}</textarea>
                </div>
            </div>
        {% endif %}
        {% if field.type == 'relation' %}
            {% if (field.relationType == 'manyToOne') or (field.relationType == 'oneToOne') %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}
                        :</label>

                    <div class="col-lg-9">

                        <select class="multiselect multiselect-search" multiple="multiple" name="{{ field.name }}">
                            {% if multi_select[field.name]['all'] is  defined %}
                                {% for option in multi_select[field.name]['all'] %}
                                    <option value="{{ option.id }}">{{ option.name }}</option>
                                {% endfor %}
                            {% endif %}
                            {% if multi_select[field.name]['selected'] is  defined %}
                                {% for option in multi_select[field.name]['selected'] %}
                                    <option value="{{ option.id }}" selected="selected">{{ option.name }}</option>
                                {% endfor %}
                            {% endif %}

                            {#<option value="tomatoes">Tomatoes</option>#}
                            {#<option value="mozarella">Mozzarella</option>#}
                            {#<option value="mushrooms">Mushrooms</option>#}
                            {#<option value="pepperoni">Pepperoni</option>#}
                            {#<option value="onions">Onions</option>#}
                        </select>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}