<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">{{ site_config.name }}</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			{% for element in menu %}
				{% if element.type == 'crud' %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ element.label }} <b
									class="caret"></b></a>
						<ul class="dropdown-menu">
							{% if element.actions %}
								{% for action in element.actions if action=='create' or action=='list' %}
									<li>
										{% set path = element.object_prefix ~ '_' ~ action %}
										<a href="{{ path( path, { 'type': element.class }  ) }}">{{ action }}</a>
									</li>
								{% endfor %}
							{% endif %}
						</ul>
					</li>
				{% elseif element.type == 'page' %}
					<li>
						<a href="{{ path('custom_admin_page', {'slug': element.slug}) }}">{{ element.label }}</a>
					</li>
				{% endif %}
			{% endfor %}


		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ path('fos_user_profile_show') }}">Pokaż Profil</a></li>
					<li><a href="{{ path('fos_user_profile_edit') }}">Edytuj Profil</a></li>
					<li class="divider"></li>
					<li><a href="#">Wyloguj</a></li>
				</ul>
			</li>
		</ul>

	</div>
	<!-- /.navbar-collapse -->
</nav>